.quotes {
  padding: 15px;
  margin: 20px;
  border: solid gray;
  box-shadow: 10px 10px 5px #888888;
  border-bottom-width: 8px;
  background-color: #F4FFFB;
  border-radius: 10%;
}

.text {
  font-size: 35px;
  /*text-align: center;*/
}

.delete {
  /*background-color: black;*/
  text-align: right;
  margin-left: 95%;
}
